<ul>
    <li><a href="/">Прихожая</a></li>
    <li><a href="/bathroom">Ванная</a></li>
    <li><a href="/room">Комната</a></li>
    <li><a href="/about">Обо мне</a></li>
    <li><a href="/contact">Контактные данные</a></li>
</ul>